
:root {
    --primary-color: #AA8453;
    --secondary-color: #0A5D5D;
    --navigation-color: #E7E8EB;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Animation */
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}