/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

img {
    width: 100%;
}

.product-list {
    display: flex;
    margin: 0 auto;
    width: 80%;
    gap: 8px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.product-item {
    width: calc(25% - 8px);
}